@import "../../conf.scss";

:host {
  width: 100%;
  padding-left: 15rem;
}

main {
  // position: relative;
  padding: 15rem;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
  // z-index: 1;
  // display: flex;
  // align-items: center;
  color: $text-color-light;

  section {
    min-height: 80vh;
  }
}

.cover.fullscreen {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  picture {
    width: 100%;
  }
}

// p {
//   font-size: 2.4rem;
//   opacity: 0.4;
// }