<div class="cover fullscreen">
  <picture appParallaxCover [config]="{scrollerSelector: 'app-root'}">
    <source srcset="assets/images/1200-675.jpg" media="(max-width: {{mediumRes}})">
    <source srcset="assets/images/1920-1080.jpg" media="(max-width: {{largeRes}})">
    <source srcset="assets/images/3440-1440-1.jpg" media="(max-width: {{xLargeRes}})">
    <img src="assets/images/3440-1440-1.jpg" alt="yah">
  </picture>
</div>
<main>
  <section>
    <h1>Who am I ?</h1>
    <p class="subheading">That is a big question you're asking.
      <br/>There are lots of ways to answer it, but I will leave aside all the metaphoricals and philisophals thinkings, 
      and give you X facts about me so you can get an idea of what to expect if we met.</p>
  </section>
  <section>
    <ul class="facts">
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°1 : You won't be the first to mispronounce my name</h2>
          <p>I would be more surprised if you get it right reading it for the first time</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°2 : I try to travel to a new place at least once a year</h2>
          <p>3 countries in 2018, including Ireland that I already visited a few years ago</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°3 : I really enjoy playing video and board games with friends</h2>
          <p>Mostly team games where you have to achieve victory over the game itself or other teams</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°4 : I come from a family of teacher</h2>
          <p>How is that relevant you might wonder. I believe it's partly responsible for how curious and willing to understand "why" I am</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°5 : Sometimes I'm funny</h2>
          <p>A friend once said that about me, I found it pretty accurate</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°7 : This is my most recent "professional" picture, it's 4 years old</h2>
          <p>Someday I will remove that fact and have a large one at the top of this page</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°8 : I just love my warm cup in the morning</h2>
          <p>Or in the evening, or in between</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°9 : I just love my warm cup in the morning</h2>
          <p>Or in the evening, or in between</p>
        </div>
      </li>
      <li class="fact">
        <div class="fact-imgWrapper">
          <img src="assets/images/passeport.png" alt="Cover of french passeport">
        </div>
        <div class="fact-contentWrapper">
          <h2>N°10 : That's my headset</h2>
          <p>It lets me bring my world with me everywhere I go (with spotify to help)</p>
        </div>
      </li>
    </ul>
  </section>
  <a routerLink="/skills" class="btn btn-smart" title="Skills">
    <span class="btn-iconWrapper">
      <app-custom-icon icon="skills"></app-custom-icon>
    </span>
    <span class="btn-text">Key skills</span>
    <span class="btn-smart-border btn-smart-border--top"></span>
    <span class="btn-smart-border btn-smart-border--right"></span>
    <span class="btn-smart-border btn-smart-border--bottom"></span>
    <span class="btn-smart-border btn-smart-border--left"></span>
  </a>
</main>