@import "../../conf.scss";

:host {
  width: 100%;
  padding-left: 10rem;
  padding-left: var(--sidebar-width);
}

.cover.fullscreen {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  picture {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate3d(-50%,-50%,0);
    }
  }
}

main {
  // position: relative;
  padding: 0 15rem;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
  // z-index: 1;
  // display: flex;
  // align-items: center;
  color: var(--text-color-light);
}

.intro,
.fact-section {
  max-width: 120rem;
  display: block;
  margin: 0 auto;
}

.intro {
  min-height: 90vh;
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factsWrapper {
  
}

.fact {
  &-section {

  }

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    list-style-type: none;
    min-height: 100vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  &-img {
    max-height: 50vh;
    max-width: 50vw;

    &Wrapper {

    }
  }

  &-contentWrapper {
    text-align: center;
    
    // p {
    //   font-size: 2.4rem;
    //   opacity: 0.4;
    // }
  }
}
