<div class="cover fullscreen">
  <picture appParallaxCover [config]="{scrollerSelector: 'app-root'}">
    <source srcset="assets/images/1200-675.jpg" media="(max-width: {{mediumRes}})">
    <source srcset="assets/images/1920-1080.jpg" media="(max-width: {{largeRes}})">
    <source srcset="assets/images/3440-1440-1.jpg" media="(max-width: {{xLargeRes}})">
    <img src="assets/images/3440-1440-1.jpg" alt="yah">
  </picture>
</div>
<main>
  <section class="intro">
    <h1>Who am I ?</h1>
    <p class="subheading">That is a big question you're asking.
      <br/>There are lots of ways to answer it, but I will leave aside all the metaphoricals and philisophals thinkings, 
      and give you X facts about me so you can get an idea of what to expect if we met.</p>
  </section>
  <section class="fact-section">
    <ul class="fact-list">
      <li *ngFor="let fact of facts; index as index"  class="fact-item">
        <div class="fact-imgWrapper">
          <img *ngIf="fact.img && fact.img !== ''" class="fact-img" src="{{fact.img}}" alt="Cover of french passeport">
          <ng-template *ngIf="fact.svg && fact.svg !== ''">
            {{fact.svg}}
          </ng-template>
        </div>
        <div class="fact-contentWrapper">
          <h2 *ngIf="fact.title && fact.title !== ''">{{fact.title}}</h2>
          <p *ngIf="fact.text && fact.text !== ''">{{fact.text}}</p>
        </div>
      </li>
    </ul>
  </section>
  <a routerLink="/skills" class="btn btn-smart" title="Skills">
    <span class="btn-iconWrapper">
      <app-custom-icon icon="skills"></app-custom-icon>
    </span>
    <span class="btn-text">Key skills</span>
    <span class="btn-smart-border btn-smart-border--top"></span>
    <span class="btn-smart-border btn-smart-border--right"></span>
    <span class="btn-smart-border btn-smart-border--bottom"></span>
    <span class="btn-smart-border btn-smart-border--left"></span>
  </a>
</main>