/* You can add global styles to this file, and also import other style files */
@import "./conf.scss";
$smartButtonBorderSize: .2em;

* {
  box-sizing: border-box;
}

html {
  font-size: .625em;
  font-size: calc(1em * .625);
}

body {
  margin: 0;
  font-family: $fontText;
}

h1,
h2,
h3 {
  font-family: $fontTitle;
}

.button {

  &-smart {
    position: relative;
    display: flex;
    font-size: 3rem;
    z-index: 1;


    &::before {
      content: '';
      width: calc(100% - #{$smartButtonBorderSize});
      height: calc(100% - #{$smartButtonBorderSize});
      z-index: 0;
      opacity: 0.2;
    }

  }

  &-text {

  }
  
  &::before,
  &-border {
    position: absolute;
    background: white;
    transition: all .25s ease-out;
    transition-property: color, transform, opacity;
  }

  &-border {

    &--top,
    &--bottom {
      width: 100%;
      height: $smartButtonBorderSize;
      left: 0;
    }

    &--left,
    &--right {
      height: 100%;
      width: $smartButtonBorderSize;
    }

    &--top {
      top: 0;
    }

    &--right {
      right: 0;
    }

    &--bottom {
      bottom: 0;
    }

    &--left {
      left: 0;
    }
  }
}