@import "../../conf.scss";

:host {
  width: 100%;
}

main {
  position: relative;
  padding: 15rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;

  section {
    flex: 50% 0 0;
    position: relative;
    z-index: 1;
  }
}

.logo {
  &-background {
    position: absolute;
    bottom: 50%;
    right: 50%;
    height: 150%;
    width: 100%;
    z-index: 0;
    transform: translate3d(calc(50% + 20vw), calc(50% + 20vh), 0);
    opacity: 0.2;
  }

  &-showcase {
    height: 55rem;
    fill: $main-color;
  }
}

.introduction {
  color: white;
  
  h1 {
    font-size: 7rem;
    margin: 0;
    font-weight: 400;
  }

  p {
    font-size: 2rem;
    opacity: 0.4;
  }
}
