main {
  position: relative;
  padding: 15rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.logo {
  &-background {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 150%;
    width: 100%;
    z-index: 0;
    opacity: 0.2;
    transform: translate3d(calc(50% + 20vw), calc(50% + 20vh), 0);
  }

  &-showcase {

  }
}

.introduction {
  color: white;
}