<div class="logo-wrapper">
  <app-custom-icon icon="logo" alt="Logo Youen Etrillard"></app-custom-icon>
</div>
<nav>
  <ul>
    <li>
      <a routerLink="/home" alt="Link to Home page">
        <app-custom-icon icon="home"></app-custom-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/about" alt="Link to About page">
        <app-custom-icon icon="who-am-i"></app-custom-icon>
        <span>About</span>
      </a>
    </li>
    <li>
      <a routerLink="/works" alt="Link to Works page">
        <app-custom-icon icon="works"></app-custom-icon>
        <span>Works</span>
      </a>
    </li>
    <li>
      <a routerLink="/skills" alt="Link to Skills page">
        <app-custom-icon icon="skills"></app-custom-icon>
        <span>Skills</span>
      </a>
    </li>
    <li>
      <a routerLink="/contact" alt="Link to Contact page">
        <app-custom-icon icon="speech-bubbles"></app-custom-icon>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>
<div class="bottom-wrapper">
</div>
