@import "../../conf.scss";

:host {
  background: rgba(black, .5);
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  > * {
    flex-grow: 0;
  }
}

.logo-wrapper {
  max-width: calc(2/3*100%);
  fill: $main-color;
  height: 15rem;
}

.bottom-wrapper {
  height: 15rem;
}